<div class="contact-container">
    <h1 class="text-center">Contact Here...</h1>
    <form>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <input type="email" id="email" name="email" placeholder="Your email..">
        <select id="city" name="city" required>
            <option value="delhi">Delhi</option>
            <option value="lucknow">Lucknow</option>
            <option value="banglore">Banglore</option>
        </select>
        <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
        <button class="btn"><a href="#!users">Submit</a></button>
    </form>
</div>